.leftColumn1 {
    box-sizing: border-box;
    width: 31px;
    position: fixed;
    height: 100%;
    background-color: #333;
    border-right: 3px solid gray;
}

.leftColumn2 {
    position: fixed;
    font-size: 21px;
    font-family: Helvetica;
    color: gray;
    height: 100%;
    width: 300px;
}

.profilePic, .contactshare {
    background-color: #333;
    padding-left: 62px;
    padding-top: 70px;
    padding-bottom: 80px;
}

img.profile {
    width: 125px;
    border-radius: 50%;
}

.personalInfo, .experience, .education, .achievement, .interests {
    background-color: #333;
    width: 300px;
}

.contact {
    float: left;
    padding-right: 10px;
    background-color: #333;
}

.sharePopup {
    float: left;
    background-color: #333;
    padding-top: 23px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.sharePopup .socialMedia {
    visibility: hidden;
    width: 50px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 150%;
    margin-left: -80px;
}

.sharePopup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
} 

.page1, .page3, .page5 {
    float: right;
    box-sizing: border-box;
    width: 908px;
    height: 100%;
    background-color: #faf0e4;
    font-family: Helvetica;
    border-bottom: 1px solid gray;
}

.name, .eduHeader, .interestHeader {
    font-size: 30px;
    background-color: #f0e3d3;
    color: rgb(60, 60, 60);
    padding: 50px 294px;
    font-weight: bold;
    text-align: center;
}

.contactInfo {
    font-size: 20px;
    color: rgb(60, 60, 60);
    padding: 50px 90px;
    display: table-cell;
    text-align: left;
}

.contactleft {
    float: left;
    color: #676767;
    width: 50%;
}

.contactright {
    float: right;
    width: 50%;
    color: #676767;
}

.introduction {
    float: left;
    font-size: 20px;
    color: #676767;
    margin: 30px 90px 30px 90px;
    border-top: 2px solid lightgray;
}

.page2, .page4 {
    float: right;
    box-sizing: border-box;
    width: 908px;
    height: 100%;
    background-color: #f0e3d3;
    font-family: Helvetica;
    border-bottom: 1px solid gray;
}

.expHeader, .achieveHeader {
    font-size: 30px;
    background-color: #faf0e4;
    color: rgb(60, 60, 60);
    padding: 50px 100px;
    font-weight: bold;
    text-align: center;
}

.date1, .date3 {
    float: left;
    font-size: 20px;
    color: #676767;
    margin-top: 110px;
    margin-left: 50px;
    transform: rotate(270deg);
}

.date2 {
    float: left;
    font-size: 20px;
    color: #676767;
    margin-top: 620px;
    margin-left: 50px;
    transform: rotate(270deg);
}

.detail1, .detail3 {
    float: right;
    width: 60%;
    font-size: 20px;
    color: #676767;
    padding: 0px 50px 0px 50px;
    margin: 60px 0px 60px 0;
    border-left: 2px solid rgb(60, 60, 60);
}

.detail2 {
    float: right;
    width: 60%;
    font-size: 20px;
    color: #676767;
    padding: 0px 50px 0px 50px;
    margin: 0px 0px 60px 0;
    border-left: 2px solid rgb(60, 60, 60);
}

.achieveDetail {
    float: left;
    font-size: 20px;
    background-color: #f0e3d3;
    color: #676767;
    padding: 60px 90px 60px 90px;
}

.interestDetail {
    float: left;
    font-size: 35px;
    color: rgb(60, 60, 60);
    margin: 0px 30px 0px 30px;
    padding: 40px 90px 40px 90px;
}

.page6 {
    float: right;
    box-sizing: border-box;
    width: 908px;
    height: 100%;
    background-color: white;
    font-family: Tahoma;
    text-align: center;
    padding: 100px 0px 100px 0px;
    border-bottom: 1px solid gray;
}

.p6header {
    font-size: 30px;
    color: rgb(60, 60, 60);
    padding: 50px 100px 0px 100px;
}

.p6 {
    font-size: 20px;
    color: rgb(60, 60, 60);
    padding: 0px 100px 0px 100px;
    margin: 0px 0px 50px 0px;
}

img {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #676767;
    display: inline-block;
    width: 100%;
}

a.email:hover, a.website:hover {
    text-decoration: underline;
}

a.target1, a.target2, a.target3, a.target4, a.target5 {
    color: gray;
    height: 100%;
    padding: 15px 0px 15px 62px;
    width: 79%;
}

a.target1:hover, a.target2:hover, a.target3:hover, a.target4:hover, a.target5:hover {
    background-color: rgb(78, 77, 77);
    color: white;
}